flask == 2.2.2
shapely == 2.0.1
geopandas == 0.14.4
pandas == 2.0.0
numpy == 1.23.2
networkx == 3.2.1
momepy == 0.6.0
pyproj == 3.6.1
requests == 2.28.1
Werkzeug == 2.2.2
gunicorn
flask_cors
pyogrio
python-dotenv
