.App {
  font-family: "Montserrat" !important;
}

.main-body {
  width: 100%;
  height: calc(100% - 64px);
  flex-grow: 3;
}

.title {
  color: #595959;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
}

.step-field {
  height: 30px;
  padding: 9px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 1;
  font-size: 16px;
  width: 100%;
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
}
