*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;

  @media (min-width: 600px) {
    flex-direction: row;
    gap: 8px;
  }

  .scroll-to-top-button {
    position: fixed;
    bottom: 12px;
    left: 12px;
    z-index: 2;

    height: 40px;
    min-width: 40px;

    background: #0097a7;
    color: white;
    font-size: 25px;
    font-weight: 600;

    @media (min-width: 600px) {
      display: none;
    }
  }
}

.embedded-view {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    height: 100vh;
    flex-direction: row;
  }
}
