.contact-view {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px;
  background: #efefef;

  @media (min-width: 600px) {
    padding-inline: 80px;
  }

  .form-control {
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .alert {
    margin-block: 15px;
    padding: 6px;
    border-radius: 5px;
    background: #e0f2fe;
    color: #0369a1;
  }

  .form-label {
    margin-bottom: 6px;
    font-weight: 500;

    .red {
      color: #e53e3e;
    }
  }

  .input,
  .textarea {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 10px;

    padding: 10px;
    font-size: 14px;

    outline: none;

    &:focus {
      border-color: #3182ce;
    }
  }

  .textarea {
    min-height: 200px;
    resize: vertical;
  }

  .form-control.error .input,
  .form-control.error .textarea {
    border-color: #e53e3e;
  }

  .error-message {
    color: #e53e3e;
    font-size: 12px;
    margin-top: 4px;
  }

  .submit-button {
    flex: 0;
    padding: 10px 16px;
    border-radius: 8px;
  }
}
